@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: none;
    padding: none;
    transition: .3s ease-in;
    scroll-behavior: smooth;
    font-family: Funnel Display, monospace;
}


body {
    background-color: #111;
    color: #fff;

}

button {
    cursor: pointer;
}

button.cta {
    background-color: #52ff02;
    color: #000;
    border: 0;
    padding: .8rem 1rem;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s linear;
}

button.cta:hover {
    background-color: #222;
    color: #fff;

}

button.extra {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: .8rem 1rem;

}
button:hover > a{
    color: white;
}
a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: none;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}

body main {
    margin: auto 10%;
    width: 60%;
    /* border: .5px dashed red; */
}

body main header {
    /* border: .5px dashed white; */
    width: max-content;
    margin: 10% 40% 0 0;
    /* border: .5px solid yellow; */
}

body main header h1 {
    background-color: #52ff02;
    color: #111;
    width: max-content;
    line-height: none;
}

body main header p {
    font-size: 2rem;
    line-height: 0;
}

body main header hr {
    background-color: white;
    height: 5px;

}

body main div.all-company {
    margin: 5vh 0 0 0;
    /* border: .5px solid yellow; */
    display: grid;
    gap: 2rem;
}

article.company {
    background-color: #333;
    padding: 2rem;
}

article.company h1.company-name {
    line-height: 0;
}

article.company p.company-type {
    font-family: monospace;
}