@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
    margin: none;
    padding: none;
    transition: .3s ease-in;
    scroll-behavior: smooth;
    font-family: Funnel Display, monospace;
}


body {
    background-color: #111;
    color: #fff;

}

button {
    cursor: pointer;
}

button.cta {
    background-color: #52ff02;
    color: #000;
    border: 0;
    padding: .8rem 1rem;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
    transition: .1s linear;
}

button.cta:hover {
    background-color: #222;
    color: #fff;

}

button.extra {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: .8rem 1rem;

}

button:hover>a {
    color: white;
}

a {
    text-decoration: none;
    color: #000;
}

a:visited {
    color: none;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}








/* 
=======================
====================================
GALLERY
==================================
=============== */

body>div.gallery {
    margin: 3rem 0;
    display: grid;
    grid-gap: 4rem;
}

body>div.gallery>div.org {
    width: 90vw;
    margin: auto auto;
}

body>div.gallery>div.org>div.title {
    padding: 1rem 0 2rem 0;
}

body>div.gallery>div.org>div.works {
    padding: 1rem;
    border: 2x solid yellow;
}


/* 'gallery' div-এর জন্য CSS */
.gallerysub {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    background-color: #eee;
    padding: 1rem .5rem;
    width: 90vw;
    margin: auto auto;
    border-radius: .5rem;
    color: #222;
}

.gallerysub img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    body>div.gallery {
        display: unset;
        width: 80vw;
        margin: auto auto;
    }

    .gallerysub {
        padding: 1rem;
        grid-gap: 1.5rem;
        width: 70vw;
        grid-template-columns: repeat(1fr, 1fr);
        margin: auto auto;
    }

    .title {
        text-align: center;
        padding: 1rem;
    }

    .gallery-image:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
}

/* 'gallery-image' ছবির জন্য CSS */
.gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* 'gallery-image' ছবির উপরে হভার করার সময় CSS */
.gallery-image:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 'image-viewer' div-এর জন্য CSS */

/* 'image-viewer' div-এর ভিতরে 'img' ট্যাগ-এর জন্য CSS */


/* 'close-image' বোতামের জন্য CSS */


/* 'close-image' বোতামের উপরে হভার করার সময় CSS */


/* মিডিয়াক্যোয়ারী - মোবাইল ডিভাইসের জন্য */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}