@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

* {
  margin: none;
  padding: none;
  transition: .5s ease-in;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  display: grid;
  place-content: center;
  height: 80vh;
}

body main {
  margin: auto auto;
  width: max-content;
}

































.hind-siliguri-light {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-siliguri-regular {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-siliguri-medium {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-siliguri-semibold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-siliguri-bold {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}